.admin-bar {
    header.banner {
        z-index: 499;

        @media all and (min-width: $bp-med) {
            &.sticky {
                top: -118px;
                z-index: 10002;
            }
        }
    }
}