header.banner {
    margin-top: -127px;

    @media all and (min-width: $bp-med) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10001;
        margin-top: 0;
    }

    .columns {
        padding: 0;

        @media all and (min-width: $bp-med) {
            padding: 0 $pad-half;
        }
    }

    &.sticky {
        @media all and (min-width: $bp-med) {
            position: fixed;
            top: -130px;
            max-height: 55px;

            a.brand {
                background-size: 50%;
                background-position: center 140px;
                transition: background 300ms ease-in;
            }

            nav {
                margin-bottom: 0;
            }

            .row {
                max-height: 55px;
            }
        }
    }
}

.logo-bg {
    background: url(../img/icon-background.png) center no-repeat;
    background-size: 100% 80%;
    margin-top: -135px;
    height: 330px;

    @media all and (min-width: $bp-small-2) {
        width: 66.66667%;
        margin-left: 16.66667%;
    }

    @media all and (min-width: $bp-med) {
        width: 33.33333%;
        margin-left: 0;
    }

    @media all and (min-width: $bp-large-2) {
        background-size: initial;
        margin-top: -130px;
    }
}

a.brand {
    text-indent: -99999px;
    display: block;
    background-image: url("../img/logo.png");
    height: 300px;
    background-repeat: no-repeat;
    transition: background 300ms ease-in;
    background-size: 50%;
    background-position: center 140px;

    @media all and (min-width: $bp-small) {
        background-size: 40%;
    }

    @media all and (min-width: $bp-small-2) {
        background-position: center 150px;
    }

    @media all and (min-width: $bp-small-3) {
        background-position: center 140px;
        background-size: 35%;
    }

    @media all and (min-width: $bp-med) {
        background-position: center center;
        background-size: 65%;
    }
}


nav {
    height: 50px;
    margin: 130px 0 160px;
    background: $purple;
    border-top: 1px dashed rgba(10, 10, 0, 0.3);
    border-bottom: 1px dashed rgba(10, 10, 0, 0.3);
    box-shadow: 0 0 0 4px $purple, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);

    li {
        list-style: none;
    }

    @media all and (min-width: $bp-med) {
        font-weight: bold;
        text-align: center;

        ul {
            margin-bottom: 0 !important;
            padding: 0;
        }

        li {
            display: inline-block;
            padding: 0 8px;

            @media all and (min-width: $bp-large-2) {
                padding: 0 15px;
            }
        }

    }
}