.caret {
    display: none;

    @media all and (min-width: $bp-med) {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        vertical-align: middle;
        border-top: 4px solid $white;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        border-bottom-color: $white;
        margin: -2px 0 0 4px;
    }
}

li.dropdown:hover > a {
    color: $pink;
}

li.dropdown:hover .caret,
li.dropdown.active .caret {
    border-top-color: $pink;
    border-bottom-color: $pink;
}

.dropup, .dropdown {
    position: relative;
}

.dropdown-menu {
    margin-left: 0 !important;
    display: block;
    padding: 0;

    @media all and (min-width: $bp-med) {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        -moz-background-clip: padding;
        background-clip: padding-box;
        padding-top: 10px;

        li {
            width: 100%;
            background-color: $purple;

        }
    }
}

li.dropdown:hover .dropdown-menu {
    display: block;
}