.off-canvas-wrap {
    -webkit-backface-visibility: hidden;
    width: 100%;
    overflow: hidden;
    min-height: 100%;
}

.inner-wrap {
    -webkit-backface-visibility: hidden;
    width: 100%;
    *zoom: 1;
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -ms-transition: -ms-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
    height: 100%;

    &:before, &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

.left-off-canvas-menu {
    -webkit-backface-visibility: hidden;
    width: 250px;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    position: absolute;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.85);
    z-index: 1001;
    border-right: 5px solid #7f0858;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);

    * {
        -webkit-backface-visibility: hidden;
        overflow: hidden;

        @media all and (min-width: $bp-med) {
            overflow: initial;
        }
    }

    @media all and (min-width: $bp-med) {
        position: static;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        background: rgba(0, 0, 0, 0);
        border: none;
        width: 33.33333%;
        overflow-y: initial;
    }
}

.move-right li.dropdown:hover > a {
    color: inherit;
}

ul.off-canvas-list {

    > li a {
        background: rgba(255, 255, 255, 0.5);
        padding: 0.3rem 0.9375rem;
        color: #333;
        text-transform: uppercase;
        border-bottom: none;
        margin: 0;
    }

    li a {
        display: block;
        padding: 0.8rem;
        background-color: rgb(223, 181, 202);
        border-bottom: 1px solid $purple;
        font-family: $font;

        &:hover {
            text-decoration: none;
            color: #333;
        }

        @media all and (min-width: $bp-large-2) {
            font-size: 26px;
        }
    }
}

ul.navbar-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: none;

    > li a {
        @media all and (min-width: $bp-med) {
            background: transparent;
            color: $white;
            font-family: $font-secondary;
            font-size: 22px;
            line-height: 48px;
            font-weight: normal;
            text-transform: none;
            padding: 0;
            border: none;

            &:hover,
            &.active {
                color: $pink;
                text-decoration: none;
            }
        }

        @media all and (min-width: $bp-large-2) {
            font-size: 26px;
        }
    }
}

ul.dropdown-menu li a {
    background-color: transparent;
}

.move-right {
    > .inner-wrap {
        -webkit-transform: translate3d(250px, 0, 0);
        -moz-transform: translate3d(250px, 0, 0);
        -ms-transform: translate3d(250px, 0, 0);
        -o-transform: translate3d(250px, 0, 0);
        transform: translate3d(250px, 0, 0);
    }

    a.exit-off-canvas {
        -webkit-backface-visibility: hidden;
        transition: background 300ms ease;
        cursor: pointer;
        box-shadow: -4px 0 4px rgba(0, 0, 0, 0.5), 4px 0 4px rgba(0, 0, 0, 0.5);
        display: block;
        background: rgba(255, 255, 255, 0.2);
        z-index: 1002;
        -webkit-tap-highlight-color: transparent;
    }
}

.lt-ie10 {
    .left-off-canvas-menu {
        left: -250px;
    }

    .move-right > .inner-wrap {
        left: 250px;
    }
}

.csstransforms.no-csstransforms3d {
    .left-off-canvas-menu {
        -webkit-transform: translate(-100%, 0);
        -moz-transform: translate(-100%, 0);
        -o-transform: translate(-100%, 0);
        transform: translate(-100%, 0);
    }

    .move-right > .inner-wrap {
        -webkit-transform: translate(250px, 0);
        -moz-transform: translate(250px, 0);
        -o-transform: translate(250px, 0);
        transform: translate(250px, 0);
    }
}

a.menu-icon {
    text-indent: 1.94444rem;
    width: 2.5rem;
    height: 2.5rem;
    display: block;
    line-height: 1.83333rem;
    padding: 0;
    color: #FFF;
    position: absolute;
    cursor: pointer;

    span {
        position: absolute;
        display: block;
        width: 0.88889rem;
        height: 0;
        left: 0.72222rem;
        top: 8px;
        -webkit-box-shadow: 1px 10px 1px 1px #FFF, 1px 16px 1px 1px #FFF, 1px 22px 1px 1px #FFF;
        box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
        z-index: 5;
    }

    @media all and (min-width: $bp-med) {
        display: none;
    }
}