input,
textarea {
    padding: 10px;
    border: 1px solid $gray-light;
    color: $gray-dark;
    font-family: $font;
}

input[type="text"],
input[type="email"],
input[type="url"],
textarea {
    width: 100% !important;
}

input[type="submit"] {
    background-color: $pink;
    color: #f5f5f5;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 30px;

    &:hover {
        cursor: pointer;
        background-color: #CC1E67;
    }
}

.form-group {
    margin-bottom: 11px;
}