h1, h2, h3, h4, h5, h6 {
    font-family: $font-secondary;
    font-weight: normal;
    color: $pink;
}

h1 {
    font-size: $font-size-largest;
    line-height: $font-size-largest-2;
}

h2 {
    font-size: $font-size-largest;
    line-height: $font-size-largest-2;
}

h3 {
    font-size: $font-size-large;
    margin: 0;
}

.page-header,
.entry-title {
    margin: $pad 0;
}